@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: bold;
}

* {
    font-family: Poppins, sans-serif;
}

.btn {
    font-weight: 500 !important;
}

.btn-flat {
    color: var(--bs-primary, #0d6efd) !important;
    border: 1px solid transparent;
}

.btn-flat:hover,
.btn-flat:focus {
    border-color: var(--bs-primary, #0d6efd) !important;
}

.form-check-label {
    cursor: pointer;
}

.form-check-input:focus+.form-check-label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--bs-blue);
}

.form-check-input:checked+.form-check-label {
    position: relative;
    outline: 5px solid var(--bs-primary, #0d6efd) !important;
    outline-offset: -2px;
}

.form-check-input:checked+.form-check-label::after {
    content: "";
    background-image: url("../images/check-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: .5em;
    top: .5em;
    width: 30px;
    height: 30px;
}

.form-check-input:checked+.form-check-label+svg {
    display: block !important;
}

.module-question .form-check-label {
    border-width: 2px !important;
    height: 175px !important;
    width: 390px !important;
}

.content {
    background-color: #F4F9F7;
}

.graph-card {
    border: none;
    background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}
