@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: bold;
}

* {
    font-family: Poppins;
}

.form-check-input:checked+.form-check-label {
    border-color: rgb(12, 209, 117) !important;
    border-width: 6px !important;
}

.form-check-input:checked+.form-check-label+svg {
    display: block !important;
}

.module-question .form-check-label {
    border-width: 2px !important;
    height: 175x !important;
    width: 390px !important;
}

.content {
    background-color: #F4F9F7;
}

.graph-card {
    border: none;
    background-color: inherit
}

.back-button {
    color: var(--bs-primary)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
