.intro {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)),
    url('../images/introduction_image.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}

.step {
    width: 30px;
}
